# shellcheck shell=bash
source_env_if_exists .envrc.local

alias pipelines='bun apps/service/src/bin/sync-service.ts pipelines'
alias tsx='node --conditions bun --import tsx --no-warnings --use-env-proxy'
