services:
  db:
    container_name: stripe-db
    image: supabase/postgres:15.1.1.4
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    restart: unless-stopped
    ports:
      - 55432:5432
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./db/migrations/schema.sql:/docker-entrypoint-initdb.d/0000_schema.sql
